@font-face {
  font-family: "Grotesk";
  src: url(../../assets/font/Grotesk.ttf);
}
* {
  margin: 0;
}

#background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: 0;
}

.active {
  background-color: #4E76B1 !important;
  border-color: #4E76B1 !important;
}

#Home-not-connected {
  display: flex;
}
#Home-not-connected #title {
  position: relative;
  font-family: "Grotesk";
  z-index: 2;
  color: #DDE7F1;
  padding-top: 32px;
  padding-left: 32px;
  font-weight: bold;
  font-size: 48px;
  font-style: italic;
}
#Home-not-connected #btn-not-connected {
  position: relative;
  z-index: 2;
  display: flex;
  padding-top: 32px;
  align-items: center;
  margin-left: auto;
  margin-right: 48px;
  gap: 32px;
  color: #DDE7F1;
}
#Home-not-connected #btn-not-connected .btn {
  font-family: "Grotesk";
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
}
#Home-not-connected #btn-not-connected .btn:hover {
  color: rgb(255, 198, 93);
  transition: 0.25s;
}
#Home-not-connected #text-home-not-connected {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Home-not-connected #text-home-not-connected h2 {
  position: relative;
  z-index: 1;
  color: #DDE7F1;
  font-size: 64px;
  font-family: "Grotesk";
  width: 33%;
  text-align: center;
}
#Home-not-connected #text-home-not-connected p {
  position: relative;
  z-index: 1;
  color: #DDE7F1;
  font-size: 16px;
  font-family: "Grotesk";
  margin-top: 16px;
  width: 50%;
  text-align: center;
}
#Home-not-connected #text-home-not-connected b {
  position: relative;
  z-index: 1;
  color: #DDE7F1;
  font-size: 16px;
  font-family: "Grotesk";
  margin-top: 8px;
}

#auth {
  display: flex;
  height: 100vh;
  width: 100vw;
}
#auth #image-container-auth {
  width: 66%;
}
#auth #background-img {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(1px);
}
#auth #form-container-auth {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#auth #title {
  color: #001338;
  font-size: 36px;
  margin: 0;
  text-align: center;
  font-style: italic;
  font-family: "Grotesk";
}
#auth #formulaire-auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 90%;
}
#auth #formulaire-auth form {
  display: flex;
  flex-direction: column;
}
#auth #formulaire-auth form label {
  margin-top: 18px;
  font-family: "grotesk";
  font-weight: bold;
  color: #001338;
  padding-bottom: 4px;
}
#auth #formulaire-auth form input {
  width: 100%;
  padding: 8px;
  background: #4E76B1;
  color: #DDE7F1;
  font-family: "Grotesk";
  font-weight: bold;
  border: none;
}
#auth #formulaire-auth form button {
  margin-top: 32px;
  background-color: #001338;
  font-size: 20px;
  border-color: #001338;
  font-weight: bold;
  font-family: "Grotesk";
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
}
#auth #formulaire-auth form button:hover {
  background: transparent;
  color: #001338;
  transition: 0.25s;
}
#auth h2 {
  color: #001338;
  font-size: 24px;
  text-align: center;
  font-family: "Grotesk";
}
#auth p {
  font-weight: "Grotesk";
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  font-size: 12px;
}
#auth #btn-already-account {
  color: #4E76B1;
  cursor: pointer;
  margin-bottom: 0;
}

#home-connected #header {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
}
#home-connected #title {
  position: relative;
  font-family: "Grotesk";
  z-index: 2;
  color: #DDE7F1;
  padding-left: 32px;
  font-weight: bold;
  font-size: 48px;
  font-style: italic;
}
#home-connected #user-username {
  position: relative;
  z-index: 1;
  color: #DDE7F1;
  font-weight: bold;
  text-decoration: underline;
  margin-left: auto;
  margin-right: 128px;
  cursor: pointer;
}
#home-connected #navigation-bar {
  position: sticky;
  z-index: 1;
  color: #DDE7F1;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#home-connected #navigation-bar .navigate {
  text-decoration: none;
  color: #DDE7F1;
  background-color: #001338;
  padding: 12px;
  border-radius: 18.5px;
  width: 25%;
  text-align: center;
  font-family: "Grotesk";
  border: 1px solid #001338;
  font-size: 14px;
}
#home-connected #navigation-bar .navigate:hover {
  background: transparent;
  border-color: white;
  transition: 0.25s;
}

/*# sourceMappingURL=style.css.map */
