* {
    margin: 0;
}

#Home-not-connected {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-not-connected {
    z-index: 1;
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 5%;
}

#inscription {
    width: 100vw;
    height: 100vh;
}

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    filter: blur(3px);
    top: 0;
}

h1 {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 127px;
    color: white;
    z-index: 1;
    text-shadow: 2px 1px 5px black;
    text-align: center;
}


.btn {
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    background-color: black;
    padding: 33px 100px 33px 100px;
    color: white;
    font-weight: 600;
    border: black 2px solid;
    text-shadow: 2px 1px 5px black;
}

.btn:hover {
    background: transparent;
    border-color: white;
    transition: .33s;
}

#formulaire-inscription{
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, .5);

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 32px;
    box-shadow: 1px 2px 7px black;
}
h2 {
    color: white;
    letter-spacing: 5px;
    z-index: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    text-shadow: 1px 2px 7px black;
}
form {
    display: flex;
    flex-direction: column;
    width: 75%;
}
form label{
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}
form input{
    padding: 8px;
    border: none
}

button{
    margin-top: 36px;
    width: 33%;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 7px black;
}
button:hover{
    background-color: transparent;
    transition: .25s;
}